# Continued Measurement and Verification

By continually assessing the impacts of the regenerative actions, a more accurate estimation on impact to carbon, soil, etc. is able to be delivered. These impacts accumulate over time. This marketplace would pay for automated measurement and verification techniques to be carried out for the regenerative actions. These techniques could include satellite imagery, smart technology (sensors), and or boots on the ground.
